html, body {
    height:100%;
}

.cl-full-tab {
	height: 637px;
}

.outer-area {
    background: #ddd;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#splash {
    height: 100%;
    background: black;
}

#wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}

#wrapper td {
   vertical-align: middle;
   text-align: center;
}

#content {
    background: #ddd;
}

#right-menu, #left-menu {
    overflow: auto;
}

.menu-header {
    background: #bcbcbc;
}

.add-btn {
    padding-top: 13px;
}

#menu-search {
    padding-bottom: 8px;
}